*.iml
.idea/
.gradle
/local.properties

# Firebase - Nunca subir al repositorio
app/google-services.json

# Keystores de firma
*.jks
*.keystore
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
